<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /project/prime-estate/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /project/prime-estate/index.html [L]
</IfModule>