<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /prime-estate/

  RewriteRule ^index\.html$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /prime-estate/index.html [L]
</IfModule>